{# Load the tag library #}{% load bootstrap4 %}{% bootstrap_css %} {% bootstrap_messages %} {% load staticfiles %}

<!doctype html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>GSoC Contribution Leaderboard</title>
  <style type="text/css">
    body {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 20px;
      height: 100%;
    }
  </style>
  {% block head-css %}
  <link rel="shortcut icon" href="https://cdn.worldvectorlogo.com/logos/rocket-chat.svg" type="image/x-icon" /> {% endblock %}
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href=""><img src="http://www.stickpng.com/assets/images/5848300dcef1014c0b5e4a90.png"
        height="42" width="42"> GSoC Contribution Leaderboard</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{% url 'refresh' %}">Refresh</a>
      </li>
    </ul>
  </nav>
  <br><br><br><br>
  <hr> {% block content %} {% endblock %}
  <hr>
  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">
        <a href="https://rocket.chat">© rocket.chat</a> |
        <a href="https://github.com/RocketChat">Github(RocketChat)</a>
      </span>
    </div>
  </footer>
</body>

</html>