{% extends 'base.html' %}

{% block content %}
  <h2>GitHub API</h2>
  <form method="get">
    <input type="text" name="username">
    <button type="submit">search on github</button>
  </form>
      <table summary="no_orderDate">
        <tr><th></th><th>Username</th><th>Commits</th><th>Add</th><th>Delete</th><th>Action</th></tr>
        {% for user in users %}
            <tr>
              <td><img src="{{user.fields.avatar}}" height="42" width="42"></td>
              <td><a href="https://www.github.com/{{user.fields.login}}">{{ user.fields.login }}</a></td>
              <td>{{ user.fields.totalCommits }}</td>
              <td>{{ user.fields.totalAdd }}</td>
              <td>{{ user.fields.totalDelete }}</td>
              <td><a href="{% url 'remove_user' user=user.fields.login %}"}>Remove</a></td>
            </tr>
        {% endfor %}
        </table>
        <p>{{log}}</p>
{% endblock %}
