{% extends 'base.html' %} {% load humanize %} {% block content %}
<h2 style="display:inline;">Contributors</h2>
<span class="text-muted" style="float:right;text-align: right;font-size: 12px;">Last Updated: {{ updated|naturaltime}}</span>
<em style="font-size: 16px;color:white">Total: {{total}}</em>
<table style="margin: 0; width: 100%; font-size: 16px;" cellpadding="0" cellspacing="0">
  <tr>
    {% if show_rank %}
    <td></td>
    {% endif %}
    <td></td>
    <td colspan="2" style="font-weight: bold; padding: 32px 8px 8px 8px; color: #333;">
      Username
    </td>
    <td style="padding: 32px 8px 8px 8px; margin: 0; font-size: 12px; color: #9BA2AB; font-family: Helvetica, Arial, sans-serif;">
      <a href="?sort=p">Open PRs</a>
    </td>
    <td style="padding: 32px 8px 8px 8px; margin: 0; font-size: 12px; color: #9BA2AB; font-family: Helvetica, Arial, sans-serif;">
      <a href="?sort=m">Merged PRs</a>
    </td>
    <td style="padding: 32px 8px 8px 8px; margin: 0; font-size: 12px; color: #9BA2AB; font-family: Helvetica, Arial, sans-serif;">
      <a href="?sort=i">Issues</a>
    </td>
  </tr>
  {% for user in users %}
  <tr>
    {% if show_rank %}
    <td style="color: black;-webkit-text-fill-color: white;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: black;">{{ user.rank }}</td>
    {% endif %}
    <td><img src="{{user.user__avatar}}" height="42" width="42"></td>
    <td style="border-top: 1px solid #EDEFF2; padding: 16px 8px; font-family: Helvetica, Arial, sans-serif;">
      <a href="https://www.github.com/{{ user.user__login }}">{{ user.user__login }}</a>
    </td>
    <td></td>
    <td style="border-top: 1px solid #EDEFF2; padding: 16px 8px; font-family: Helvetica, Arial, sans-serif;">
      <a href="https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+author%3A{{ user.user__login }}+archived%3Afalse+org%3ARocketChat"
        target="_blank" rel="noopener noreferrer">{{ user.totalOpenPRs__sum }}</a>
    </td>
    <td style="border-top: 1px solid #EDEFF2; padding: 16px 8px; font-family: Helvetica, Arial, sans-serif;">
      <a href="https://github.com/pulls?utf8=%E2%9C%93&q=is%3Amerged+is%3Apr+author%3A{{ user.user__login }}+archived%3Afalse+org%3ARocketChat"
        target="_blank" rel="noopener noreferrer">{{ user.totalMergedPRs__sum }}</a>
    </td>
    <td style="border-top: 1px solid #EDEFF2; padding: 16px 8px; font-family: Helvetica, Arial, sans-serif;">
      <a href="https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+author%3A{{ user.user__login }}+archived%3Afalse+org%3ARocketChat"
        target="_blank" rel="noopener noreferrer"> {{ user.totalIssues__sum }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
<br /> {% endblock %}