{% extends 'base.html' %}


{% block content %}
<div class="container">
    <form action="/gsoclist/" method="post" id="glistForm" data-users="{% url 'load_users' %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit">Submit</button>
    </form>
    
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script>
    $(document).ready(function() {
    var url = $("#glistForm").attr("data-users");  // get the url of the `load_cities` view
    $.ajax({                       // initialize an AJAX request
      url: url,
      data: {
          'gsoc': false,
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_login").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });
    });
</script>
<br>
</div>
{% endblock %}